<h1>Welcome to MoviePhone!</h1>
<p>What movie are you looking for?</p>
<p>Why don't you just tell me which movie you want to see?</p>
<%= link_to 'MoviePhone', movies_path, class: 'btn-lg btn-danger' %>
