<h1>Welcome to Tight Music!</h1>
  <p><%=link_to "Check out our artists", artist_index_path, class: "btn btn-lg btn-warning" %>
     <%=link_to "Check out our songs", songs_path, class: "btn btn-lg btn-primary" %>
  </p>
